@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

body {
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(240,248,255,1) 40%, rgba(240,248,255,1) 100%);
}

.todo__input {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  display: block;
  padding: 12px;
  color: #303030;
  outline-color: #a4a4a4;
  border: 1px solid #cbcbcb;
}
